bin/
obj/
.vs/
.tmp/
node_modules/
wwwroot/css/site.css.map
*.user
*.suo
appsettings.Local.json
App_Data/
appsettings.Development.json
appsettings.json
Migrations/
backups/
.dotnet-home/
.github/
outbuild/
